#cari {
    
    position: relative;
    top: -80px;
    width: 90%;
    z-index: 1;
}

form{
    min-height: 106px;
    background: #FFFFFF;
    /* Shadow/High */
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 24px;
}

.label{
    font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */


/* Neutral/04 */

color: #3C3C3C;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.form{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 9px 12px;
gap: 8px;

width: 100%;
height: 36px;

/* Neutral/01 */

background: #FFFFFF;
/* Neutral/02 */

border: 1px solid #D0D0D0;
border-radius: 2px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;

}

.cars-content{
    width: 90%;
    min-height: 106px;
}

.crd{
    width: 100%;
    min-height: 586px;

/* Neutral/01 */

background: #FFFFFF;
/* Shadow/Low */

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}





